<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Harriswebworks_Ajaxcart>
            <version>0.1.0</version>
        </Harriswebworks_Ajaxcart>
    </modules>
    <frontend>
        <routers>
            <ajax>
                <use>standard</use>
                <args>
                    <module>Harriswebworks_Ajaxcart</module>
                    <frontName>ajax</frontName>
                </args>
            </ajax>
        </routers>
        <layout>
            <updates>
                <ajax>
                    <file>ajaxcart.xml</file>
                </ajax>
            </updates>
        </layout>
    </frontend>   
    <global>
        <resources>
            <ajax_setup>
                <setup>
                    <module>Harriswebworks_Ajaxcart</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajax_setup>
            <ajax_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajax_write>
            <ajax_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajax_read>
        </resources>
		<blocks>
			<wishlist>
				<rewrite>
					<customer_wishlist_item_column_cart>Harriswebworks_Ajaxcart_Block_Customer_Wishlist_Item_Column_Cart</customer_wishlist_item_column_cart>
					<customer_sidebar>Harriswebworks_Ajaxcart_Block_Customer_Sidebar</customer_sidebar>
				</rewrite>
			</wishlist>
            <harriswebworks_ajaxcart>
                <class>Harriswebworks_Ajaxcart_Block</class>
            </harriswebworks_ajaxcart>
        </blocks>
        <helpers>
            <harriswebworks_ajaxcart>
                <class>Harriswebworks_Ajaxcart_Helper</class>
            </harriswebworks_ajaxcart>
        </helpers>
    </global>
   <!-- <global>
        <rewrite>
            <ajax_cart> 
                <from><![CDATA[#^/checkout/cart/#]]></from> 
                <to>/ajax/index/</to>  
            </ajax_cart>
        </rewrite>
    </global>-->
</config>